@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
} */
#root{
  min-height: 100vh;
  display: flex;
  background-color: #131314;
  animation: fadeIn 1s;
}